<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Cataresto!</title>
    <meta name="description" content="Your culinary resource">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="icon" href="/favicon.png">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <div class="top-bar">
        <header class="header">
            <div class="header__inner">
                <h1 tabindex="0" class="header__title">
                    Cataresto
                </h1>
            </div>
            <a href="#" tabindex="0" id="menu" class="header__menu">
                <i class="material-icons">menu</i>
            </a>
        </header>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#/favorites">Favorite</a>
                </li>
                <li class="nav__item">
                    <a href="http://phoenixfin.github.io">About Us</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="jumbotron">
        <div class="jumbotron__inner">
            <h1 tabindex="0" class="jumbotron__title">Mau jalan-jalan Kuliner?</h1>
            <p tabindex="0" class="jumbotron__tagline">Yuk cek dulu restoran tujuan anda</p>
        </div>
    </div>

    <main>
    </main>


    <footer tabindex="0">
        Copyright @ 2020 - Cataresto
    </footer>

</body>
</html>
